# build files
*.o
*.bin
*.elf
*.iso

# linker / kernel outputs
kernel/*.bin
kernel/*.o
boot
*.img
info/ # contains build info, not source code
# temporary files
*.log
*.tmp

# editor files
*.swp
*.swo
.vscode/
.idea/
prajna_os_prompt.md
ravi_full_history_prompt.md
Main base.md
#study files
*.pdf
*.docx

# OS junk
.DS_Store
Thumbs.db
