# build files
*.o
*.bin
*.elf
*.iso
*.d

# linker / kernel outputs
kernel/*.bin
kernel/*.o
boot
*.img
# temporary files
*.log
*.tmp

# editor files
*.swp
*.swo
.vscode/
.idea/
#study files
*.pdf
*.docx

# OS junk
.DS_Store
Thumbs.db
